STRING_SESSION = BQBxnIqPYqbETA8oAiXkix91IeCIsCFf-EOp3oHS9CoehFaK3NqSgX9FRnJ-g85kPSgdgKyKylfrts-EPoBC6t3agcS4GaYjkZHioc7S5iN7akWgChiKtj5phUfKxRJuI849AEjkdLbiTLH_dOlKJje7yMZEC0dALlisH62YEh9w1TH9iwFbVCYVyD3VsJp0Iz_Ur1yGNg_Xa7EP6Phph_55JU9wL8t-Ri1sgRUWqxOFj2n7HnmdU5-9Bx_x04psvqli0YMoK9LaJAec3maM1WaX7pZnBWo5Ly_7oT9fR03OaailJG2MICsac7IiBPb23PqQTUgIwmNQ6U2CW9ygFjDkAAAAAXcnjd4A
API_ID = 13958802                                                                        
API_HASH = f6d2d3b04309e9660a0be5b2a6195a7c                                              
BOT_TOKEN = 6226805699:AAE1T96RKSjs06kNID7VW9xVsYaSOFDI92o
MONGO_DB_URI = mongodb+srv://minhquang24071996:2407@coihaycoc.1an4oky.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID = -1001816641523
MUSIC_BOT_NAME = muoi muoi music
OWNER_ID = 6294048222
