STRING_SESSION = BQCunUBWgsNXqwKhw9xkpYvBR6i_gl8jN3lftgSXQotkCcP6ABkVy-McvI9HwoZTgZViiSpT_Bi7Wv4IiWTZmb1fN_WCcwYJK-lYrVlJ-PLJP_cQdVcYRYf8mQReI1nGCDfRjObBzr3Qg3qUqVy5UxoBJRAnogUnhxjUYYW86IChSHKrRVZ8OETPDEiuHEmLhmR1aY8sLRZmv4DUIYTcON_L_p1gBwXZpiQa8W0s440YpRnTf2RLHmJPTf2l5Sfw5TwAs_IE1q3KDocWWt9MjyusLXAMzeAbnTLENuvaDLqxuMx-DoJSErtBGV_pxTPSmcCv0SWQc9aGQnSw8U5MGz9ZAAAAAXcnjd4A
API_ID = 13958802
API_HASH = f6d2d3b04309e9660a0be5b2a6195a7c
BOT_TOKEN = 6226805699:AAE1T96RKSjs06kNID7VW9xVsYaSOFDI92o
MONGO_DB_URI = mongodb+srv://minhquang24071996:2407@coihaycoc.1an4oky.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID = -1001816641523
MUSIC_BOT_NAME = muoi muoi
OWNER_ID = 6294048222
